<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="/static/css/styles.css">
    <script src="https://cdn.jsdelivr.net/npm/sweetalert2@11"></script>
    <title>Sub Activities</title>
</head>
<body>
    <div class="header">
        <img alt="SPIL logo" src="/static/1200px-Logospil.png"/>
        <h1>Sub Activities for {{ activity["activity"] }}</h1>
    </div>
    <div class="projects">
        <h2>Add Sub Activity</h2>
        <form id="addSubActivityForm">
            <table>
                <thead>
                    <tr>
                        <th>Sub Activity Name</th>
                        <th>Files</th>
                        <th>Actions</th>
                    </tr>
                </thead>
                <tbody>
                    <tr>
                        <td>
                            <input type="text" name="subActivityName" required>
                        </td>
                        <td>
                            <!-- Drop Zone -->
                            <div class="drop-zone" id="drop-zone">
                                <p>Drag and drop files here or click to select files</p>
                                <input type="file" name="files" id="file-input" multiple>
                            </div>

                            <!-- Table for selected files -->
                            <table id="file-table" style="display:none; margin-top: 10px;">
                                <thead>
                                    <tr>
                                        <th>File Name</th>
                                        <th>Size</th>
                                        <th>Action</th>
                                    </tr>
                                </thead>
                                <tbody id="file-list"></tbody>
                            </table>
                        </td>
                        <td>
                            <button type="submit">Add</button>
                        </td>
                    </tr>
                </tbody>
            </table>
        </form>
    </div>
    </div>

    <script src="/static/js/script1.js"></script>
</body>
</html>
